
<div>
  <h2>Register</h2>
  <form action="/users/create" method="post">

    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <label>
      First Name <input type="text" name="user[first_name]">
    </label>
    <label>
      Last Name <input type="text" name="user[last_name]">
    </label>
    <label>
      Email <input type="text" name="user[email]">
    </label>
      Password <input type="password" name="user[password]" value="">
    </label>
    <label>
      Confirm password <input type="password" name="user[password_confirmation]" value="">
    </label>
    <input id="button" type="submit" value="Register">
  </form>
</div>

<div>
  <form action="/sessions" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <label>
      Email <input type="text" name="Email">
    </label>
    <label>
      Password <input type="password" name="Password">
    </label>
    <input id="button" type="submit" value="Login">
  </form>
</div>
